alembic
asyncpg
awslambdaric
boto3
httpx-oauth
fastapi
fastapi-users[sqlalchemy,oauth]
mangum
openai
pinecone-client
sqlalchemy-utils
psycopg2-binary
python-multipart
sentence-transformers
requests
torch
uvicorn